////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////
//////////     Config
//////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Colours
$primaryColour: #2a2e36;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////
//////////     Global Styles
//////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* {
	margin: 0;
	padding: 0;
	border: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: inherit;
	font-weight: inherit;
	font-size: 100%;
	text-decoration: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $Arial;
	font-size: 1.6rem;
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: $primaryColour;
}

a {
	color: inherit;
	outline: none;
}

::-moz-selection {
	background: lighten($primaryColour, 30%);
	color: #fff;
}

::selection {
	background: lighten($primaryColour, 30%);
	color: #fff;
}

/* ____________________ Miscellaneous Inline: ____________________ */

.clearboth {
	clear: both;
}

.hidden {
	display: none !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////
//////////     END Global Styles
//////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////
//////////     Main Content
//////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
	text-align: center;
}

header {
	h1 {
		margin-bottom: 50px;
		font-family: $OpenSans;
		font-size: 10rem;
		text-shadow: -1px -1px 0 #fff,
					 1px 1px 0 #fff,
					 -1px 1px 0 #fff,
					 -3px 3px 1px darken($primaryColour, 15%);
	}
}

h2 {
	margin-top: 20px;
	font-size: 3rem;
	text-shadow: -1px -1px 0 #fff,
				 1px 1px 0 #fff,
				 -1px 1px 0 #fff,
				 -3px 3px 1px darken($primaryColour, 15%);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////
//////////     END Main Content
//////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
